<h1>Welcome to the Nested Forms Lab!</h1>
<h1>Make your form here</h1>
<h2>let's navigate to the '/new'</h2>


<form action="/pirates" method="post">
	<p><label for="pirate_name">Pirate Name</label><input type="text" id="pirate_name" name="pirate[name]"></p>
	<p><label for="pirate_weight">Pirate Weight</label><input type="text" id="pirate_weight" name="pirate[weight]"></p>
	<p><label for="pirate_height">Pirate Height</label><input type="text" id="pirate_height" name="pirate[height]"></p>
	<p><label for="ship_name_1">Ship1 Name</label><input type="text" id="ship_name_1" name="pirate[ships][][name]"></p>
	<p><label for="ship_type_1>">Ship1 Type</label><input type="text" id="ship_type_1" name="pirate[ships][][type]"></p>
	<p><label for="ship_booty_1>">Ship1 Booty</label><input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></p>
	<p><label for="ship_name_2>">Ship2 Name</label><input type="text" id="ship_name_2" name="pirate[ships][][name]"></p>
	<p><label for="ship_type_2>">Ship2 Type</label><input type="text" id="ship_type_2" name="pirate[ships][][type]"></p>
	<p><label for="ship_booty_2>">Ship2 Booty</label><input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></p>
	<button type="submit" value="submit">Submit</button>
</form>
